.btn {
    width: 150px;
    height: 49px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: $second-dark-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .3s linear;

    &:hover {
        background-color: #fff;
        color: $second-dark-color;
        border: 2px solid $second-dark-color;
    }

    &:focus {
        background-color: #fff;
        color: $second-dark-color;
        border: 2px solid $second-dark-color;
    }
}